<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Route" value="C:\RutaBat\publish.bat" />
    <add key="DatetimePublish" value="17/03/2020 10:35:55" />
  </appSettings>
</configuration>